@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Squada+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Roboto';
}

/*Navigation*/

.nav-container{
    background: #1AC073;
    height: 80px;
}

.wrapper{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul{
    display: flex;
}

nav .logo{
    font-family: 'Squada One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: white;
}

.nav-items li{
    list-style: none;
    margin-right: 100px;
}

.nav-items li:nth-last-of-type(1){
    margin: 0;
}

.nav-items li a{
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

/*Header*/
.header-container{
    background: #1AC073;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 82px;
    color: #FFFFFF;
    margin-bottom: 17px;

}

header p{
    font-size: 18px;
    line-height: 20px;
    color: white;
    width: 441px;
    margin-bottom: 42px;
}

input{
    width: 286px;
    height: 58px;
    border-radius: 0.5rem;
}

input[type="text"]::placeholder{
    padding-left: 22px;
}

header a{
    background: #F3BA00;
    font-size: 16px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 18px 48px;
    display: inline-block;
    transition: 300ms;
}

header a:hover{
    transform: translateY(-8px);
}

header .hero-image{
   margin-top: 20.2rem;
   margin-bottom: 15rem;
}

/*Search and Cart buttons*/
.nav-btn-container{
    display: inline-block;
    padding: 0rem 1rem;
    /* margin: 2rem; */
}

.search-btn{
    margin-right: 2rem;
}

.search-here{
    margin-right: -0.3rem;
}

.hero-content{
    margin-top: -7rem;
}

.heading{

/* position: absolute; */
width: 250px;
height: 24px;
/* left: 130px;
top: 105px; */
margin-top: 105px;
margin-left: 130px;
margin-bottom: 63px;

font-family: 'Roboto';
font-style: normal;
font-weight: 800;
font-size: 40px;
line-height: 24px;
/* identical to box height, or 60% */

letter-spacing: -0.012em;

color: #000000;

}



.rating-and-time{
    display: flex;
    
}

.line1{
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}


.line2{
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}

.line3{
    display: flex;
    justify-content: space-between;
    margin-left: 130px;
    margin-right: 130px;
}

.about{
    padding:  20px 24px;
    display: flex;
    justify-content: space-between;
}